In [1]:
import pandas as pd
import numpy as np

## Data Import
### Loan Origination Data

+ concatenate the origination data into one file

In [2]:
loan_colnames =['CREDIT_SCORE', 'FIRST_PAYMENT_DATE', 'FIRST_TIME_HOMEBUYER', 'MATURITY_DATE', 'METROPOLITAN_STATISTICAL_AREA',
 'MORTGAGE_INSURANCE_PERC', 'NUMBER_UNITS','OCCUPANCY_STATUS', 'ORIG_COMBINED_LTV', 'ORIG_DTI_RATIO',
 'ORIG_UPB', 'ORIG_LTV', 'ORIG_INTEREST_RATE', 'CHANNEL', 'PPM', 'AMORTIZATION_TYPE', 'PROPERTY_STATE',
 'PROPERTY_TYPE', 'POSTAL_CODE', 'LOAN_SEQ_NUMBER', 'LOAN_PURPOSE', 'ORIG_LOAN_TERM', 'NUMBER_BORROWERS',
 'SELLER_NAME', 'SERVICER_NAME', 'SUPER_CONFORMING', 'PRE_HARP_LOAN_SEQ_NUMBER', 'PROGRAM_INDICATOR',
 'HARP_INDICATOR', 'PROPERTY_VALUATION_METHOD', 'INTEREST_ONLY']

In [4]:
seed_value = 123456

loanlevel_full = None

years = [2010, 2011, 2012, 2013, 2014, 2015] 

## Data dowloaded from https://freddiemac.embs.com/FLoan/Data/downloadA.php
# 'sampel_[YEAR].zip' folder

# iterate through all columns and combine into one DF
for year in years:
    loan_orig = pd.read_csv('sample_'+str(year)+'/sample_orig_'+str(year)+'.txt', delimiter="|",names=loan_colnames, header=None)
    
    #loan_orig = loan_orig.sample(yearly_samples, random_state=seed_value)
    # in some cases the first payment date is not the same as the origination date
    loan_orig['LOAN_ORIG_YEAR'] = year
    
    if loanlevel_full is None:
        loanlevel_full = loan_orig.copy()
    else:
        loanlevel_full = loanlevel_full.append(loan_orig)
        
print(loanlevel_full.shape)

loanlevel_full.head()

(300000, 32)

,CREDIT_SCORE,FIRST_PAYMENT_DATE,FIRST_TIME_HOMEBUYER,MATURITY_DATE,METROPOLITAN_STATISTICAL_AREA,MORTGAGE_INSURANCE_PERC,NUMBER_UNITS,OCCUPANCY_STATUS,ORIG_COMBINED_LTV,ORIG_DTI_RATIO,...,NUMBER_BORROWERS,SELLER_NAME,SERVICER_NAME,SUPER_CONFORMING,PRE_HARP_LOAN_SEQ_NUMBER,PROGRAM_INDICATOR,HARP_INDICATOR,PROPERTY_VALUATION_METHOD,INTEREST_ONLY,LOAN_ORIG_YEAR
0,784,201005,N,202504,45780.0,0,1,P,90,38,...,2,Other sellers,U.S. BANK N.A.,NaN,NaN,9,NaN,9,N,2010
1,795,201003,9,202502,NaN,0,1,P,67,35,...,2,Other sellers,Other servicers,NaN,NaN,9,NaN,9,N,2010
2,784,201003,N,202502,36100.0,0,1,P,55,47,...,2,Other sellers,Other servicers,NaN,NaN,9,NaN,9,N,2010
3,759,201003,N,204002,47260.0,0,1,P,50,27,...,1,Other sellers,Other servicers,NaN,NaN,9,NaN,9,N,2010
4,695,201004,N,204003,NaN,0,1,P,50,21,...,2,Other sellers,Other servicers,NaN,NaN,9,NaN,9,N,2010

In [5]:
loanlevel_full.LOAN_ORIG_YEAR.max()

2015

In [6]:
loanlevel_full.FIRST_PAYMENT_DATE.max()

202003

#### Export for further use in data preparation

In [7]:
# save as CSV
loanlevel_full.to_csv('../data-raw/full_loanlevel_2015.csv', index=False)